button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1d5a3c; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px; 
}


button:hover {
    background-color: #3f9f73; 
}

.TransferButton {
    margin-top: 20px;
}
